@charset "UTF-8"

html
  font-family: futura-pt, sans-serif
  line-height: 1.15
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body
  margin: 0

article, aside, footer, header, nav, section
  display: block

h1
  font-size: 1.6em
  font-weight: normal
  letter-spacing: 0.25em
  margin: 0.67em 0

video

canvas
  display: block
  margin: 0 auto
  border-radius: 50%
  filter: grayscale(100%)
  transform: scaleX(-1)
