html {
  font-family: futura-pt, sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  position: relative;
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  position: absolute;
  top: 0;
  left: 2vw;
  z-index: 999;
  font-size: 1.6em;
  font-weight: normal;
  letter-spacing: 0.25em;
  margin: 2vh 0; }

canvas {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }
