doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title OMARTH
    link(rel="stylesheet" href="https://use.typekit.net/auo3rvi.css")
    link(rel="stylesheet" href="css/normalize.css" type="text/css")
    link(rel="stylesheet" href="css/style.css" type="text/css")
  body
    .top-page
      a(href="./index.html")
        h1.logo-common OMARTH
      .logo-contents
        .logo-sub
          p.logo-sub__text h
            span.logo-sub__text--big OM
            | age
          p.logo-sub__text
            span.logo-sub__text--big AR
            | t
          p.logo-sub__text au
            span.logo-sub__text--big TH
            | entication
        .logo-main
          img.logo-main__logo(src="./img/omarth.svg", alt="ロゴ")
          a(href="./art.html") 
            img.logo-main__arrow(src="./img/arrow.svg", alt="矢印")
